h1 {
  font-size: 2.8rem;
  color: #0077cc;
}
h2 {
  font-size: 2rem;
  color: #004d80;
  margin-top: 40px;
}
nav a {
  color: #006699;
}
nav a:hover {
  color: #004d80;
  text-decoration: underline;
}
